
.body {
  display: flex;
  flex:1;
  flex-direction: column
}

.mapContainer {
  display: flex;
  flex:0.7;
  min-height: 100vh;
  min-width: 70vw
}

.Map-header {
  box-shadow: 2px 2px 2px 0.3px #888888;
  background: white;
  padding: 1em;
  /* position: absolute; */
  z-index: 100;
  border-bottom-right-radius: 2em;
  /* border-bottom: 1.5px solid #404040;
  border-right: 1.5px solid #404040; */
}

.Map-header h1 {
  color: black;
  margin: 0;
  text-align: left;
}

.Map-header p {
  margin: 0;
  font-size: 0.8em;
  text-align: left;
}

a {
  color: black;
}
