.treeInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 12px;
  background-color: white;
  color: #404040;
  z-index: 1;
  padding: 6px;
  /* font-weight: bold; */
  width: auto;
  border: 1.5px solid #404040;
  border-radius: 0.2em;
  opacity: 0.8;
  transition: 0.5s opacity;
}

.treeInfo:hover {
  opacity: 1;
  transition: 0.5s opacity;
}

.detail {
  display: flex;
  margin: 0.5em;
  flex-direction: column;
  padding: 0;
  line-height: 0;
  text-align: left;
}

.detail-header {
  font-weight: bold;
  /* font-size: 1.5em; */
}

.detail p {
  font-size: 0.8em;
  /* margin: 0.7em; */
}
